<% if banners.present? %>
  <div class="col-lg-9 offset-lg-3" data-hook="promo_front_slider">
    <div class="banner_section shop_el_slider">
      <div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow" data-ride="carousel">
        <div class="carousel-inner">
          <% banners.each_with_index do |item, index| %>
            <div class="carousel-item background_bg <%= 'active' if index == 0 %>" data-img-src="<%= item.image.variant(resize_to_limit: [920, 500]).processed.service_url %>">
              <div class="banner_slide_content banner_content_inner">
                <div class="col-lg-7 col-10">
                  <div class="banner_content3 overflow-hidden">
                    <h5 class="mb-3 staggered-animation font-weight-light" data-animation="slideInLeft" data-animation-delay="0.5s">
                      <%= item.title %>
                    </h5>
                    <h2 class="staggered-animation" data-animation="slideInLeft" data-animation-delay="1s">
                      <%= item.description %>
                    </h2>
                    <h4 class="staggered-animation mb-4 product-price" data-animation="slideInLeft" data-animation-delay="1.2s">
                      <span class="price"><%= item.new_price %> ₽</span>
                      <del><%= item.old_price %> ₽</del>
                    </h4>
                    <a class="btn btn-fill-out btn-radius staggered-animation text-uppercase" href="<%= item.link %>" data-animation="slideInLeft" data-animation-delay="1.5s">
                      Подробнее
                    </a>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <ol class="carousel-indicators indicators_style3">
          <% banners.each_with_index do |item, index| %>
            <li data-target="#carouselExampleControls" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
<% end %>